.left-bar{
    height: 100%;
    width: 20vw;
    position: relative;
    min-width: 300px;
    padding: 0em 3em;
    .icon__back {
        background-color: #000;
        padding: 10px;
        color: white;
        border-radius: 15px;
        cursor: pointer;
        margin: 2em 0em;
    }
    .subtitle{
        font-weight: 200;
        font-size: 15px;
    }
    .title{
        font-size: 20px;
        line-height: 1;
        strong{
            font-size: 35px;
            span{
                font-weight: 200;
            }
        }
    }
}

.bg-login{
    background-image: url("../../assets/images/bg2.jpg");
    width: 100%;
    background-size: cover;
}

